:root {
  --bleu: #00a8ff;
  --bleu-dark: #0097e6;
  --bleu-gray: #487eb0;
  --bleu-gray-dark: #40739e;
  --dark: #2f3640;
  --gray-dark: #718093;
  --primary: #00a8ff;
  --secondary: #f5f6fa;
  --secondary-dark: #dcdde1;
  --yellow: #fbc531;
  --yellow-dark: #fbc531;
}