.container {
  background: linear-gradient(50deg, var(--primary), var(--bleu-gray-dark));
  padding: 2rem;

  .title {
    background-color: transparent !important;

    &:hover {
      transform: scale(1.0);
    }

    img {
      max-height: 30vh;
      max-width: 100%;
    }

    h1 {
      font-size: 4rem;
    }
  }

  div.cardForm {
    margin-top: 2rem;
    transition: all 0.3s;
    min-width: 40%;
    transform: scale(1.1);

    form {
      margin-bottom: 0;

      div.formWeather {
        width: 100%;

        input.inputWeather {
          padding-right: 0;
          border-radius: 0 !important;
          border-color: transparent;

          &:focus {
            box-shadow: none !important;
          }
        }
      }

      button.btnSubmit {
        border: none;
        background-color: var(--yellow-dark);
        color: white;
        padding: 0 0.8rem;

        svg {
          font-size: 2rem;
          transition: all 0.4s;
        }
      }
    }
  }

}